body {
        background-color: #fefefe;
        color: #222;
}

h1 {
        text-align: center;
        color: #369;
}

.contentBox {

        width: 500px;
        border: 1px solid #111;
        margin: 1em;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5em;
        border-radius: 10px;

}
.scrollBoxWrapper {
        border: 1px solid #999;
        margin-top: 0.5em;
        margin-bottom: 1em;
        padding-left: 0.5em;
}
.scrollBox {
        height: 150px;
        overflow: auto;
}

a {
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

.error {
    color: red;
}

.docErrorSpan {
    visibility: hidden;
    color: red;
}

.scrollErrorSpan {
    visibility: hidden;
    color: red;
}

.welcome {
    border-radius: 5px;
    border: 2px solid black;
    height: 10em;
    width: 10em;
    margin-top: 2em;
    
}

.check {
    height: 40px;
    width: 40px;
    visibility: hidden;
}

.submitAgreement {
    bottom: 13px;
    position: relative;
}
